.dark-mode{
    background-color: darken($grisOscuro, 10);

    p {
        color: $blanco;
    }
    a, h1, h2, h3, h4{
        color: $gris;
    }
    
    .formulario{
        label,
        legend,
        p{
            color: $gris;
        }
        
        input,
        select{
            background-color: $grisOscuro;
            color: $blanco;
            border: 1px solid $grisOscuro;
        }
        .total {
            background-color: rgb(2, 255, 255);
            color: black;
            text-align: center;
        }
    }
    .categoria{
        .descuento{
            color: rgb(255, 255, 255);
            p{
            background-color: rgb(255, 255, 255);
            color: black;
            font-weight: 700;
            }
            span{
                
                animation: parpadeo 3s infinite;
            }
        }
        .presentardocu{
            p{
                color: rgb(242, 255, 0);
                font-weight: 300;
                
            }
        }
    }
}